@page
@model IndexModel
@using GamesApp.Components;
@using GamesApp.Models;
@using GamesApp.Services;
@using System.Collections;
@using System.Collections.Generic;
@using System.Text.Json;

@{
    ViewData["Title"] = "Home page";
}

@(await Html.RenderComponentAsync<PlayerList>(RenderMode.ServerPrerendered))

<div class="container">
    <form method="post">
        <div class="form-row justify-content-md-center mb-3">
            <div class="col col-md-8 col-lg-6">
                <p>Enter or edit User Information</p>
                <input type="text" asp-for="Player.FirstName" class="form-control" placeholder="First name">
            </div>
        </div>
        <div class="form-row justify-content-md-center mb-3">
            <div class="col col-md-8 col-lg-6">
                <input type="text" asp-for="Player.LastName" class="form-control" placeholder="Last name">
            </div>
        </div>
        <div class="form-row justify-content-md-center mb-3">
            <div class="col col-md-8 col-lg-6">
                <input type="text" asp-for="Player.UserName" class="form-control" id="username" placeholder="My Username">
            </div>
        </div>

        <div class="form-row justify-content-md-center mb-3">
            <div class="col col-md-8 col-lg-6">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
        </div>


    </form>
</div>
