/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    /* Margin bottom by footer height */
    font-family: 'Oswald', sans-serif;
    background-color: #2d3749;
    color: #c4d7d1;
    margin: 0 0 65px 0;
    padding: 0;
    width: 100%;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #c4d7d1;
}

a:hover {
    color: #dd8683;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.navbar li.nav-item a.nav-link {
    color: #c4d7d1;
}

    .navbar li.nav-item a.nav-link:hover {
        color: #2d3749;
    }

.navbar .navbar-brand {
    color: #c4d7d1;
    transition: all .1s ease-in;
}

    .navbar .navbar-brand:hover {
        color: #2d3749;
    }

.navbar .nav-link {
    color: #c4d7d1;
    transition: all .1s ease-in;
}

    .navbar .nav-link:hover {
        color: #2d3749;
    }

/* My Typography styles
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6, p, a, pre {
    font-family: 'Oswald', sans-serif;
    color: #c4d7d1;
}

hr {
    height: 1px;
    background-color: #c4d7d1;
}

/* Button styles
-------------------------------------------------- */
.btn-shuffle, .btn-shuffle:active, .btn-shuffle:focus {
    background-color: #c4d7d1;
    color: #2d3749;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 50%;
    border: 1px solid #dd8683;
    line-height: .9;
    padding: 10px 20px;
}

.btn-shuffle:hover {
    color: #dd8683;
    border: 1px solid #dd8683;
}


/* Modal styles
-------------------------------------------------- */
.modal-content {
    background-color: #2d3749;
}

.modal-content p {
    font-size: 1.2rem;
}


/* SignIn Form styles
-------------------------------------------------- */
.sign-in-form {
    margin: 0 auto;
}


/* Player Score Directions styles
-------------------------------------------------- */
.player-list {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

.player-list h4 {
    color: #dd8683;
}

.new-game {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}


/* Memory Card styles
-------------------------------------------------- */
.deck {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .deck {
        width: 70vw;
        height: 70vw;
    }
}

.memory-card {
    position: relative;
    width: 20%;
    height: 20%;
    max-width: 23%;
    border-radius: 5px;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    perspective: 600px;
    padding: 5px;
}

@media only screen and (min-width: 780px) {
    .memory-card {
        width: 17%;
        height: 17%;
    }
}

.memory-card.matched {
    pointer-events: none;
}

.faces {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.face {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
}

.face > * {
    backface-visibility: hidden;
}

.face.backon {
    backface-visibility: visible;
}

.face.hide {
    visibility: hidden;
}

.face.matched {
    filter: saturate(0) contrast(1.5);
}


.front {
    background: transparent;
    /*added for mobile browsers*/
    transform: translateZ(1px);
}

.back {
    transform: rotateY(180deg);
    background-image: url('../../img/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.face img {
    width: 100%;
    border-radius: 10px;
}

/* Background styles
-------------------------------------------------- */
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #448892 60%, #dd8683 60%);
    background: -o-linear-gradient(110deg, #448892 60%, #dd8683 60%);
    background: -moz-linear-gradient(110deg, #448892 60%, #dd8683 60%);
    background: linear-gradient(110deg, #448892 60%, #dd8683 60%);
}

/* Sticky footer styles
-------------------------------------------------- */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}