/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
    position: relative;
    min-height: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    /* Margin bottom by footer height */
    font-family: 'Oswald', sans-serif;
    margin-bottom: 60px;
    background-color: #2d3749;
    color: #c4d7d1;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #c4d7d1;
}

a:hover {
    color: #dd8683;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.navbar li.nav-item a.nav-link {
    color: #c4d7d1;
}

    .navbar li.nav-item a.nav-link:hover {
        color: #2d3749;
    }

.navbar .navbar-brand {
    color: #c4d7d1;
    transition: all .1s ease-in;
}

    .navbar .navbar-brand:hover {
        color: #2d3749;
    }

.navbar .nav-link {
    color: #c4d7d1;
    transition: all .1s ease-in;
}

    .navbar .nav-link:hover {
        color: #2d3749;
    }

/* My Typography styles
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Oswald', sans-serif;
}
h2 {
    color: #c4d7d1;
}


/* SignIn Form styles
-------------------------------------------------- */
.sign-in-form {
    margin: 0 auto;
}


/* Memory Card styles
-------------------------------------------------- */
.deck {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    visibility: visible;
    width: 90vw;
    height: 90vw;
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {
    .deck {
        width: 75vw;
        height: 75vw;
    }
}

@media only screen and (min-width: 780px) {
    .deck {
        width: 65vw;
        height: 65vw;
    }
}

.memory-card {
    position: relative;
    width: 15%;
    height: 15%;
    max-width: 23%;
    border-radius: 5px;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    perspective: 600px;
    margin: 1%;
}

.faces {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.face {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
}

.face > * {
    backface-visibility: hidden;
}

.front {
    background: transparent;
    /*added for mobile browsers*/
    transform: translateZ(1px);
}

.back {
    transform: rotateY(180deg);
    background-image: url('../../img/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.face img {
    width: 100%;
    border-radius: 10px;
}

/* Background styles
-------------------------------------------------- */
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #448892 60%, #dd8683 60%);
    background: -o-linear-gradient(110deg, #448892 60%, #dd8683 60%);
    background: -moz-linear-gradient(110deg, #448892 60%, #dd8683 60%);
    background: linear-gradient(110deg, #448892 60%, #dd8683 60%);
}

/* Sticky footer styles
-------------------------------------------------- */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}