/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: grey;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: midnightblue;
    color: #eaeaea;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Memory Card styles
-------------------------------------------------- */
.deck {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    border: 2px solid #eaeaea;
}

.memory-card {
    position: relative;
    width: 20%;
    max-width: 23%;
    border-radius: 5px;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    margin: 1.5%;
    perspective: 600px;
}

.faces {
    position: relative;
    width: 100%;
}

.face {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
}

.face > * {
    backface-visibility: hidden;
}

.front {
    background: transparent;
    /*added for mobile browsers*/
    transform: translateZ(1px);
}

.back {
    transform: rotateY(180deg);
    background-image: url('../img/back.jpg');
}

.face img {
    width: 100%;
    border-radius: 10px;
}