@page
@using GamesApp.Components
@model GamesApp.Pages.Games.MemoryModel
@{
    ViewData["Title"] = "Memory Game";
}

<div class="container-fluid mb-3 pt-3 text-center">
    <p>C# Memory Game - WIP</p>
    <h2 class="display-4">Memory Game</h2>
</div>

<div class="container mb-2">
    <div class="col col-lg-4"><p class="mb-1">Player One: @Model.UserName</p></div>
    <div class="col col-lg-4"><p class="mb-0">Score: @Model.Score</p></div>
</div>

@(await Html.RenderComponentAsync<CardList>(RenderMode.ServerPrerendered))

@*<script src="_framework/blazor.server.js"></script>*@