@page
@model GamesApp.Pages.Games.MemoryModel
@{
    ViewData["Title"] = "Memory Game";
}

<div class="container-fluid mb-2 pt-3">
    <h1>Memory Game</h1>
</div>

<div class="container-fluid text-center mb-5">
    <h2 class="display-4">Welcome @Model.UserName</h2>
    <h3>Let's test your memory!</h3>
</div>

<div class="wrapper deck mb-5">
    @foreach (var card in Model.Cards)
    {
        <div class="memory-card">
            <div class="faces">
                <div class="face front"><img src="@card.FrontImage" /></div>
                <div class="face back"></div>
            </div>
        </div>
    }
</div>
