@page
@model GamesApp.Pages.Games.MemoryModel
@{
    ViewData["Title"] = "Memory Game";
}

<div class="container-fluid mb-3 pt-3 text-center">
    <p>C# Memory Game - WIP</p>
    <h2 class="display-4">Memory Game</h2>
</div>

<div class="container-fluid text-center mb-0">
    <h3>Welcome @Model.UserName</h3>
    <p class="mb-0">Let's test your memory.</p>
</div>

<div class="container-fluid wrapper deck mb-5">
    
    @foreach (var card in Model.Cards)
    {
        <div class="memory-card">
            <div class="faces">
                <div class="face front"><img src="@card.FrontImage" /></div>
                <div class="face back"></div>
            </div>
        </div>
    }
</div>
